{% extends 'base.html.twig' %}

{% block body %}
    <div class="container" id="app" data-deck="{{ deck }}">
        <a href="{{ url('index', {'_locale': 'fr'}) }}"><button class="btn">🇫🇷</button></a>
        <a href="{{ url('index', {'_locale': 'en'}) }}"><button class="btn">🇬🇧</button></a>
        <br>
        <div class="btn-group btn-group-toggle col" data-toggle="buttons">
            <button class="btn btn-secondary active button">
                {{ 'display' | trans }}
            </button>

            <button class="btn btn-secondary" v-on:click="suffleDeck">
                {{ 'shuffle' | trans }}
            </button>
        </div>

        <br>
        <br>

        <div class="cards">
            <deck-cards v-for="card in deck" :path="'{{ asset('images') }}/' + card.color + '_' + card.rank + '.png'">
            </deck-cards>
        </div>

        <br>
        <br>
        <h1>{{ 'hand' | trans | capitalize }}</h1>
        <br>
        <label>{{ 'number_of_card_to_pick' | trans }}</label>
        <input type="number" v-model.number="cardNumberToPick" min=1 :max="deckCardsNumber">
        <br>
        <button class="btn btn-secondary" v-on:click="pickInDeck(cardNumberToPick)">{{ 'pick' | trans }}</button>
        <br>
        <br>
        <div class="cards" v-if="hand.length > 0">
            <cards v-for="card in hand" :path="'{{ asset('images') }}/' + card.color + '_' + card.rank + '.png'">
            </cards>
        </div>
        <div class="cards" v-else>
            <p>{{ 'no_cards' | trans }}</p>
        </div>

        <br>
        <h1>{{ 'color_order' | trans | capitalize }}</h1>
        <button class="btn btn-secondary" v-on:click="shuffleColorOrder">{{ 'generate' | trans }}</button>
        <br>
        <br>
        <div class="cards" v-if="colorOrder.length > 0">
        <order v-for="order in colorOrder" :path="'{{ asset('images') }}/' +order + '_0.png'"></order>
        </div>
        <div class="cards" v-else>
            <p>{{ 'no_color_order' | trans }}</p>
        </div>

        <br>

        <h1>{{ 'rank_order' | trans | capitalize }}</h1>
        <button class="btn btn-secondary" v-on:click="shuffleColorRank">{{ 'generate' | trans }}</button>
        <br>
        <br>
        <div class="cards" v-if="rankOrder.length > 0">
            <order v-for="order in rankOrder" :path="'{{ asset('images') }}/0_' + order + '.png'"></order>
        </div>
        <div class="cards" v-else>
            <p>{{ 'no_color_rank' | trans }}</p>
        </div>

        <br>

        <h1>{{ 'sorted_hand' | trans | capitalize }}</h1>
        <button v-if="hand.length > 0 && colorOrder.length > 0 && rankOrder.length > 0" class="btn btn-secondary" v-on:click="orderHand">{{ 'order_the_hand' | trans }}</button>
        <br>
        <div class="cards">
            <order v-for="card in orderedHand" :path="'{{ asset('images') }}/' + card.color + '_' + card.rank + '.png'"></order>
        </div>
    </div>

    <script>
        Vue.component('deckCards', {
            template: `
            <div class="card card--flipped">
                <img class="card__front" :src="path" />
                <img class="card__back" src="./images/verso.png" />
            </div>
            `,
            props: ['path']
        })

        Vue.component('cards', {
            template: `
            <div class="card card">
                <img class="card__front" :src="path" />
            </div>
            `,
            props: ['path']
        })

        Vue.component('order', {
            template: `
            <div class="card">
                <img class="card__front" :src="path" />
            </div>
            `,
            props: ['path']
        })

        var app = new Vue({
            el: '#app',
            data: {
                deck: [],
                hand: [],
                colorOrder: [],
                rankOrder: [],
                orderedHand: [],
                cardNumberToPick: 10
            },
            methods: {
                orderHand: function () {
                    const params = new Object()
                    params.colorOrder = this.colorOrder
                    params.rankOrder = this.rankOrder

                    this.ajaxCall('{{ url('order_hand') }}', 'POST', 'orderedHand', params)
                },
                shuffleColorOrder: function () {
                    this.ajaxCall('{{ url('shuffle_color_order') }}', 'GET','colorOrder', '')
                },
                shuffleColorRank: function () {
                    this.ajaxCall('{{ url('shuffle_rank_order') }}', 'GET','rankOrder', '')
                },
                suffleDeck: function () {
                    this.ajaxCall('{{ url('shuffle_deck') }}', 'GET','deck', '')
                },
                pickInDeck: function(number) {
                    const params = new Object()
                    params.deck = this.deck
                    params.number = number

                    this.ajaxCall('{{ url('pick_in_deck') }}', 'POST', 'hand', params)
                },
                ajaxCall: function (url, method, dataName, params) {
                    var xhttp = new XMLHttpRequest();
                    var vue = this;

                    xhttp.onreadystatechange = function() {
                        if (this.readyState == 4 && this.status == 200) {
                            eval('vue.' + dataName + ' = JSON.parse(this.responseText)')
                        }
                    };

                    xhttp.open(method, url, true)
                    xhttp.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
                    xhttp.setRequestHeader('Content-type','application/json; charset=utf-8');
                    xhttp.send(JSON.stringify(params))
                }
            },
            beforeMount: function() {
                this.deck = JSON.parse(this.$el.attributes['data-deck'].value)
            },
            computed: {
                deckCardsNumber: function () {
                    return this.deck.length;
                }
            }
        })
    </script>

    <script type="text/javascript">
        const button = document.querySelector('.button');
        const cards = document.querySelectorAll('.card');
        let delay = 0;
        button.addEventListener('click', function (e) {
            e.currentTarget.innerHTML = cards[0].classList.contains('card--flipped') ? "{{ 'hide' | trans }}" : "{{ 'display' | trans}}";
            for (let i = 0; i < cards.length; i++) {
                setTimeout(function () {
                    cards[i].classList.toggle('card--flipped');
                }, delay+i*10)
            }
        }, false);
    </script>

    <style type="text/css">
        .cards{
            display: flex;
            flex-wrap: wrap;
        }
        .card{
            position: relative;
            height: 100px;
            min-width: 80px;
            transition: .3s;
            transform-style: preserve-3d;
        }
        .card--flipped {
            transform: rotateY(180deg);
        }
        .card__front,
        .card__back{
            position: absolute;
            left: 0;
        }
        .card__front {
            z-index: 1;
        }
        .card__back{
            z-index: 0;
            transform: rotateY(180deg);
        }
    </style>
{% endblock %}

